<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4 d-flex justify-content-center">
      <img {{#if user.image}} src="{{ user.image }}" {{else}} src="https://i.imgur.com/oU19cYa.png" {{/if}}
        alt="thumbnail" style="display: block; max-width: 350px; max-height: 350px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>
        <p class="card-text">{{ user.email }}</p>
        <p class="card-text"><strong>{{ commentedRestCounts }}</strong> 已評論餐廳</p>
        <p class="card-text"><strong>{{ user.FavoritedRestaurants.length }}</strong> 收藏的餐廳</p>
        <p class="card-text"><strong>{{ user.Followings.length }}</strong> followings (追蹤者)</p>
        <p class="card-text"><strong>{{ user.Followers.length }}</strong> followers (追隨者)</p>
        {{#if sameUser}}
        <a href="/users/{{ user.id }}/edit" class="btn btn-primary">Edit</a>
        {{else}}
        {{#if isFollowed }}
        <form action="/following/{{ user.id }}?_method=DELETE" method="POST" style="display: contents;"><button type="submit"
            class="btn btn-danger">取消追蹤</button></form>
        {{else}}
        <form action="/following/{{ user.id }}" method="POST" style="display: contents;"><button type="submit"
            class="btn btn-primary">追蹤</button></form>
        {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <p class="card-header"><strong>{{ user.Followings.length }}</strong> followings (追蹤者)</p>
      <div class="card-body d-flex flex-wrap">
        {{#each user.Followings}}
        <a href="/users/{{ this.id }}">
          <div class="image-container my-1 mr-3">
            <img {{#if this.image}} src="{{ this.image }}" {{else}} src="https://i.imgur.com/oU19cYa.png" {{/if}} alt="user image" height="75" width="75">
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <p class="card-header"><strong>{{ commentedRestCounts }}</strong> 已評論餐廳</p>
      <div class="card-body d-flex flex-wrap">
        {{#each commentedRestaurants}}
        <a href="/restaurants/{{ this.id }}">
          <div class="image-container my-1 mr-3">
            <img src="{{ this.image }}" alt="restaurant image" height="75" width="75">
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div><div class="row mt-3">
  <div class="col-md-4">
    <div class="card">
      <p class="card-header"><strong>{{ user.Followers.length }}</strong> followers (追隨者)</p>
      <div class="card-body d-flex flex-wrap">
        {{#each user.Followers}}
        <a href="/users/{{ this.id }}">
          <div class="image-container my-1 mr-3">
            <img {{#if this.image}} src="{{ this.image }}" {{else}} src="https://i.imgur.com/oU19cYa.png" {{/if}} alt="user image" height="75" width="75">
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <p class="card-header"><strong>{{ user.FavoritedRestaurants.length }}</strong> 收藏的餐廳</p>
      <div class="card-body d-flex flex-wrap">
        {{#each user.FavoritedRestaurants}}
        <a href="/restaurants/{{ this.id }}">
          <div class="image-container my-1 mr-3">
            <img src="{{ this.image }}" alt="restaurant image" height="75" width="75">
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>
